pyyaml>=5.4,<7.0
fastapi~=0.95,>=0.109.1
uvicorn~=0.25
pydantic~=2.5
pyjwt~=2.8
token-throttler~=1.4
neon-mq-connector~=0.7,>=0.8.1a3
neon-utils>=1.14.1a1
ovos-config~=0.0,>=0.0.12
ovos-utils~=0.0,>=0.0.38
neon-data-models~=0.0,>=0.0.3a5
